:root{
  --orange: #ec7100;
  --darkorange: #ca6200;
  --orangeop: #ec71005e;
}

body {
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1) 0%, #0c0c0c 100%);
}

h1 {
  font-size: 100px;
  font-family: 'DM Sans', sans-serif;
  margin: 0 0 0 0;
  line-height: .75;
  color: #ffffff;
  display: inline-block;
}

h3{
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  color: var(--orange);
  font-size: 25px;
  margin-top: 7px;
}

p{
  line-height: 1.5;
  color: #f1f1f1;
}

span{
  color: var(--orange);
}

a{
  text-decoration: none;
  color: #ffffff;
}

a:visited{
  text-decoration: none;
  color: #ffffff;
}

.contenedor-flex{
  display: flex;
  min-height: 100vh;
}

.info {
  text-align: center;
  margin: 100px auto 0 auto;
  min-width: 200px;
  width: 1500px;
}

.info-sobremi{
  min-width: 200px;
  max-width: 1100px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: auto;
}

.contenedor-sobre-mi{
  min-width: 200px;
  max-width: 900px;
  padding: 0 30px;
  text-align: left;
  margin: 15px auto 0 auto;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

}

.contenedor-sobre-mi-texto{
  max-width: 1100px;
  min-width: 200px;
  padding-top: 15px;
  display: flex;
  justify-content: right;
  text-align: left;
  flex-direction: column;
}

.contenedor-sobre-mi-imagen{
  height: 170px;
  width: 150px;
  border-radius: 40px;
  border: 3px solid white;
  overflow: hidden;
  margin: 10px;
  transition-duration: .7s;
}

.contenedor-sobre-mi-imagen img{
  width: 165px;
  float: right;
  filter: grayscale(100%);
}

.contenedor-redes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}

.contenedor-redes img{
  width: 40px;
}

.redes{
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin: 0 10px;
  padding: 5px;
  display: flex;
  transition: .4s;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 25px #ffffff)
}

.redes:hover{
  width: 160px;
  transition-timing-function: cubic-bezier(.19,1.23,1,.91);
  border: .7px solid #ffffff98;
}

.redes p{
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  display: none;
  margin: 0 0 0 10px;
  transition: .4s;
}

.redes img{
  margin: 3px 0 0 0;
}

.redes:hover p{
  display: block;
  transition-timing-function: cubic-bezier(.19,1.23,1,.91);
}

@media only screen and (max-width: 500px) {
  .info{
    margin-top: auto;
  }
  
  h1{
    font-size: 80px;
    margin: 50px 0 0 0;
    line-height: 0.85;
  }

  h3{
    font-size: 20px;
  }

  .contenedor-sobre-mi-imagen{
    display: none;
  }

  .contenedor-sobre-mi-imagen2{
    display: block;
    margin-top: -50px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 830px) {
  h1{
    margin: 0;
    font-size: 80px;
  }

  h3{
    font-size: 20px;
  }

  body{
    margin: 0 0 0 0;
  }

  .contenedor-sobre-mi-imagen{
    display: none;
  }

  .contenedor-sobre-mi-imagen2{
    display: block;
  }
}